<%- include('header'); %>

<div class="box" id="heading">
    <h2>About</h2>
</div>

<div class="box">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim doloremque aliquam ipsam voluptatum praesentium.
        Blanditiis qui hic, saepe, nulla quasi aspernatur repellat maiores, numquam veniam eligendi expedita. Quod, quas
        nobis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis debitis at doloribus corrupti soluta
        maxime molestiae, recusandae quaerat! Maxime ducimus labore suscipit voluptate! Ipsa sit adipisci corporis
        cupiditate voluptatibus incidunt?</p>

</div>

<%- include('footer'); %>